force-app/main/default/flows/Associate_Team_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Selected_Associates_by_Id</name>
        <label>Get Selected Associates by Id</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>AssociateTeamAssignment_Utility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Team</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>nestedAssociateIds</name>
            <value>
                <elementReference>SelectedAssociateIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Associate_to_Team</name>
        <label>Assign Associate to Team</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Team_Assignment_Loop.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Team_Assignment_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Associate_Ids</name>
        <label>Assign Selected Associate Ids</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SelectedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Unassigned_Associates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Associates_by_Id</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Teams</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnassignedAssociates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Associate__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Associate Team Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Team Assignment Flow</label>
    <loops>
        <name>Team_Assignment_Loop</name>
        <label>Team Assignment Loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Selected_Associates_by_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Associate_to_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Associates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Selected_Associates</name>
        <label>Update Selected Associates</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>AssociatesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Associates</name>
        <label>Select Associates</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Associate_Ids</targetReference>
        </connector>
        <fields>
            <name>Unassigned_Associates</name>
            <choiceReferences>UnassignedAssociates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unassigned Associates</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Team</name>
        <label>Select Team</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_Assignment_Loop</targetReference>
        </connector>
        <fields>
            <name>Team</name>
            <choiceReferences>Teams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Associates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associate__c</objectType>
    </variables>
    <variables>
        <name>SelectedAssociateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
